mat-card {
  margin-top: 50px;
  padding: 30px 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1)!important;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1)!important;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
  background-color: #46b4fe !important;
  color: #fff;
}
h3 {
  color: #46b4fe;
}
i {
  color: #46b4fe;
  margin-right: 5px;
}
p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 600;
}

.signup {
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
}

.signup a {
  text-decoration: underline;
  color: #46b4fe;
}

mat-icon{
  font-size: 30px;
}
