h1 {
  text-align: center;
}
.mat-raised-button {
  background-color: #46b4fe;
  color: #fff;
}
.mat-form-field {
  width: 100%;
}

.mat-chip-selected.mat-primary{
  background-color: #46b4fe !important;
}


.mat-chip-selected.mat-primary .short_date{
  color: #fff !important;
}
/* #lastDaysBox {
  width: 100%;
  background-color: #cfecff;
  text-align: justify;
} */

.dayBox {
  color: #eee;
  padding: 25px;
}

h4 {
  margin-bottom: 15px;
}

.mat_chips {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-standard-chip::after {
  color: #fff !important;
}

.ing_name {
  font-weight: 600;
  text-transform: capitalize;
}

.ing_calories {
  font-weight: 600;
  text-transform: capitalize;
}

h4 {
  text-transform: uppercase;
}

mat-chip {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)!important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)!important;
}

.week-day {
  font-size: 18px;
  width: 100px;
  line-height: 2;
  color: #333333 !important;
}

.short_date {
  font-size: 14px;
  color: #46b4fe;
  width: 100px;
  line-height: 1;
}

.mat-standard-chip {
  flex: 1;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0 !important;
  padding: 8px 15px 15px 20px !important;
  min-height: 50px;
  margin: 0 !important;
  height: auto !important;
  display: block !important;
  text-align: center;
}

.mat-chip.mat-standard-chip {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}


@media only screen and (max-width: 1600px) {
  .mat-standard-chip {
    flex: none;
  }
}
