<div class="container">
  <h1>{{ nickname }}</h1>
  <h4>Today: {{ day.date | date: 'dd/MM/yy' }}</h4>
  <!-- <div id="lastDaysBox"> -->
  <mat-chip-list>
    <mat-chip
    [ngClass]="{'mat-primary': (i === selectedIndex)}"
     class="chip" (click)='onDaySelected(day, i)'
     *ngFor="let day of lastSevenDays; let i = index" selected>{{ day }}</mat-chip>
  </mat-chip-list>
  <!-- </div> -->
  <br>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
      <div class="col-md-4 form-group">
        <mat-form-field>
          <label for="ingredientId">Pick a food:</label>
          <mat-select
            name="ingredientId"
            id="ingredientId"
            ngModel>
            <mat-option *ngFor="let ingredient of ingredients" value="{{
              ingredient._id }}">
              {{ ingredient.name }} - Calories: {{ ingredient.calories }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 form-group">
        <mat-form-field>
          <label for="amount">Amount in grams: </label>
          <input
            matInput
            type="number"
            id="amount"
            name="amount"
            ngModel
            required>
        </mat-form-field>
      </div>

      <div class="col-md-4 form-group">
        <mat-form-field>
          <label for="meal">Meal: </label>
          <mat-select
            id="meal"
            name="whatMeal"
            [ngModel]="'breakfast'">
            <mat-option value="breakfast">Breakfast</mat-option>
            <mat-option value="lunch">Lunch</mat-option>
            <mat-option value="dinner">Dinner</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button mat-raised-button
          type="submit"
          [disabled]="!f.valid"><mat-icon>fastfood</mat-icon> Add meal</button>
        <br><br>
      </div>
    </div>
  </form>

  <div class="row">
    <app-meal></app-meal>
  </div>
</div>
