<h1>Current Day: {{ day.date | date: 'dd/MM/yy' }}</h1>
<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
      <div class="col-md-4 form-group">
        <label for="ingredientId">Выберите пищу:</label>
        <select class="form-control"
            name="ingredientId"
            id="ingredientId"
            ngModel>
          <option *ngFor="let ingredient of ingredients" value="{{ ingredient.id }}">
            {{ ingredient.name }}, {{ ingredient.calories }}
          </option>
        </select>
      </div>
        <div class="col-md-4 form-group">
        <label for="amount">Количество: </label>
        <input
            class="form-control"
            type="number"
            id="amount"
            name="amount"
            ngModel
            required>
      </div>

        <div class="col-md-4 form-group">
          <label for="meal">Вид приема пищи: </label>
          <select
              id="meal"
              name="whatMeal"
              [ngModel]="'breakfast'" class="form-control">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
          </select>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Add food</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-meal></app-meal>
    </div>
  </div>


