.breakfast-box{
    padding: 15px;
    margin-bottom: 15px;
    background: #2deb90;
    color: #fff;
}

.lunch-box{
  color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    background: #46b4fe;
}

.dinner-box{
  color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    background: #ff527a;
}

a{
    cursor: pointer;
    color: #000;
}

a:hover{
    text-decoration: none;
}

.mat-expansion-panel{
    margin-bottom: 15px !important;
}

button{
  position: relative;
    float: right;
    bottom: 0;
}

