<div class="col-md-4">
  <mat-card ngClass="breakfast-box">
        <h2>Breakfast</h2>
        <div *ngFor="let meal of meals; let mealIndex = index">
          <div *ngIf="meal.mealType === 0">
            <mat-card *ngFor="let mealParts of meal.mealParts; let mealPartIndex = index">
              <a (click)="onMealUpdate(meal.mealType, mealPartIndex)">
                <h4>{{ mealParts.ingredient.name }}</h4>
                {{ 'Total Amount: ' + mealParts.grams}}
                <br>
                {{ 'Total Calories: ' + mealParts.ingredient.calories * mealParts.grams }}
              </a>
              <button mat-icon-button
                      (click)="onDeleteIngredient(mealIndex, mealPartIndex)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </div>
  </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card ngClass="lunch-box">
        <h2>Lunch</h2>
        <div *ngFor="let meal of meals; let mealIndex = index">
          <div *ngIf="meal.mealType === 1">
              <mat-card *ngFor="let mealParts of meal.mealParts; let mealPartIndex = index">
              <a (click)="onMealUpdate(meal.mealType, mealPartIndex)">
                <h4>{{ mealParts.ingredient.name }}</h4>
                {{ 'Total Amount: ' + mealParts.grams}}
                <br>
                {{ 'Total Calories: ' + mealParts.ingredient.calories * mealParts.grams }}
              </a>
              <button mat-icon-button
                      (click)="onDeleteIngredient(mealIndex, mealPartIndex)">
                <mat-icon>delete</mat-icon>
              </button>
              </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card ngClass="dinner-box">
        <h2>Dinner</h2>
        <div *ngFor="let meal of meals; let mealIndex = index">
          <div *ngIf="meal.mealType === 2">
            <mat-card *ngFor="let mealParts of meal.mealParts; let mealPartIndex = index">
              <a (click)="onMealUpdate(meal.mealType, mealPartIndex)">
                <h4><mat-icon>restaurant</mat-icon> {{ mealParts.ingredient.name }}</h4>
                {{ 'Total Amount: ' + mealParts.grams}}
                <br>
                {{ 'Total Calories: ' + mealParts.ingredient.calories * mealParts.grams }}
              </a>
              <button mat-icon-button
                      (click)="onDeleteIngredient(mealIndex, mealPartIndex)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>