.progress-box {
  height: 20px;
  width: 100%;
  background: #aaa;
  border-radius: 10px;
  position: relative
}
.progress-box span {
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  line-height:20px;
}

.progress {
  height: 20px;
  border-radius: 10px;
  max-width: 100%;
}

h4 {
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: 500;
}
