<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Choose start
        date" [(ngModel)]="startDate" (ngModelChange)="onStartChange()">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
     <span class="choose_title"> - Choose between this dates - </span>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Choose start
        date" [(ngModel)]="currentDate" (ngModelChange)="onEndChange()">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [hidden]="!chart">
        <canvas #canvas id="canvas" width="400" height="400">{{ chart }}</canvas>
      </div>
    </div>
  </div>


</div>
