<h3>
      All Ingredients
    </h3>
    <hr>
      <mat-form-field>
        <label for="searchBox"></label>
        <input
            matInput
            type="text"
            id="searchBox"
            placeholder="Search for ingredient"
            [(ngModel)]="searchStr"
        >
      </mat-form-field>
    <button mat-button
            routerLink="ingredient/new"
            class="btn-primary btn">
      <mat-icon>add_circle_outline</mat-icon> Add Ingredient
    </button>
    <br><br>
    <ul *ngFor="let ingredient of ingredients | searchIngredients:searchStr">
      <li><a routerLink="ingredient/editIngredient/{{ ingredient.id }}">
        {{ingredient.name | titlecase }}, Calories: {{ ingredient.calories }}
      </a></li>
    </ul>
