.mat-form-field{
    width: 100%;
}

.ing_name{
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  color: #252525 !important;
}

.ing_calories{
    text-transform: capitalize;
    color: #252525 !important;
    float: right;
    font-weight: 600;
}

a{
  text-decoration: none !important;
  cursor: pointer !important;
}

h3{
  font-weight: 600;
}

.btn-primary{
  background-color: #46b4fe !important;
}

.grams_title{
  font-weight: 400;
}
