<h1>
      All Ingredients
    </h1>
    <hr>

    <div class="form-group">
      <label for="searchBox"></label>
      <input
          type="text"
          id="searchBox"
          class="form-control"
          placeholder="Search for ingredient"
          [(ngModel)]="searchStr"
      >
    </div>
    <hr>
    <button routerLink="ingredient/new" class="btn-primary btn">Add Ingredient</button>
    <br><br>
    <ul *ngFor="let ingredient of ingredients | searchIngredients:searchStr">
      <li><a routerLink="ingredient/editIngredient/{{ ingredient.id }}">
        {{ingredient.name | titlecase }}, Calories: {{ ingredient.calories }}
      </a></li>
    </ul>
