<h1>Current Day: {{ currentDay.date | date: 'dd/MM/yy' }}</h1>
<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
      <div class="col-md-4 form-group">
      <label for="name">Name: </label>
      <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          ngModel
          required>
      </div>
        <div class="col-md-4 form-group">
        <label for="amount">Amount: </label>
        <input
            class="form-control"
            type="number"
            id="amount"
            name="amount"
            ngModel
            required>
      </div>

        <div class="col-md-4 form-group">
          <label for="meal">Meal: </label>
          <select
              id="meal"
              name="whatMeal"
              [ngModel]="'breakfast'" class="form-control">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
          </select>

        </div>

      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Add food</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-meal></app-meal>
    </div>
  </div>
</div>

