<div class="row">
  <div class="col-md-12">
    <div *ngIf="showForm; else showWeight">
      <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
        <mat-form-field>
          <input
            matInput
            type="number"
            id="text"
            name="weight"
            placeholder="Enter current weight please"
            formControlName="weight">
        </mat-form-field>
        <button mat-raised-button
          type="submit"
          [disabled]="!form.valid">Submit Weight</button>
        <a *ngIf="cancelButtonAppear" class="cancel_btn" mat-raised-button (click)="onCancel()">Cancel</a>
      </form>

    </div>
    <ng-template #showWeight>
      <p class="show_weight">Your current weight is: <span>{{
          weightOfDay[0].weight }}kg</span></p>
      <button mat-raised-button (click)="onChangeWeight()">Change Weight</button>
    </ng-template>
    </div>
  </div>
