mat-form-field{
  width: 100%;
}

.mat-form-field-infix{
  border-top: 0 important;
}

.mat-raised-button {
  background-color: #46b4fe;
  color: #fff;
}

.show_weight{
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}
.show_weight span{
  color: red;
}

.cancel_btn{
  background-color: transparent;
  color:#46b4fe;
  margin-left: 15px;
  border: 1px solid #46b4fe;
}
a{
  text-decoration: none;
}

h4 {
  text-transform: uppercase;
  font-size: 18px !important;
  font-weight: 500;
}
