<h3 *ngIf="editMode; else elseBlock">Edit Ingredient: {{ ingredient.name }}</h3>
<ng-template #elseBlock><h3>Create Ingredient</h3></ng-template>

<hr>
<form [formGroup]="ingredientForm" (ngSubmit)="ingredientForm.valid && onSubmit()">
  <mat-form-field>
    <label for="name"></label>
    <input
        matInput
        type="text"
        id="name"
        formControlName="ingredientName"
    placeholder="Fill Ingredient Name">
  </mat-form-field>

  <mat-form-field>
    <label for="calories"></label>
    <input
        matInput
        type="text"
        formControlName="ingredientCalories"
        id="calories"
        placeholder="Fill Ingredient Amount">
  </mat-form-field>

  <button *ngIf="editMode; else elseSubmit"
          mat-flat-button type="submit" class="submit-btn">Save Changes
  </button>
  <ng-template #elseSubmit>
    <button mat-flat-button type="submit" class="submit-btn">Save Ingredient
    </button>
  </ng-template>
  <button mat-flat-button routerLink="/ingredient-list" class="cancel-btn">Cancel</button>
</form>

