<h1 *ngIf="editMode; else elseBlock">Edit Ingredient: {{ ingredient.name }}</h1>
    <ng-template #elseBlock><h1>Create Component</h1></ng-template>

    <hr>
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name"></label>
          <input
              class="form-control"
              type="text"
              id="name"
              formControlName="ingredientName">


      </div>

      <div class="form-group">
        <label for="calories"></label>
          <input
              class="form-control"
              type="text"
              formControlName="ingredientCalories"
              id="calories">

      </div>


      <button type="submit" class="btn-success btn">Submit changes</button>
      <button routerLink="/ingredient-list" type="submit" class="btn-danger btn">Cancel</button>
    </form>

